# ignore vscode hidden directory
.vscode

#ignore pycharm directory
.idea

# ignore python cache, object, etc. files
*.py[cod]

# avoid them adding new csv files
*.csv

# misc others
.DS_Store
*.swp
